*{
  scroll-behavior: smooth;
}

body{
    background-color: #283747;
    margin: 0;
    font-family: 'Hubballi', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/*NAVBAR*/
.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
}

.navbar ul{
  list-style: none;
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
}

.navbar ul li:not(:last-child){
  margin-right: 50px;
}

.navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
/*parallax*/
  .sample-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /**background-image: url("../img/laptop-3214756.svg");*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
  }
  .sample-header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(66, 66, 124);
    background-position: center;
    background-size: cover;
    background-image: url("../img/laptop-3214756.svg");
    background-repeat: no-repeat;
    /* opacity: 0.1; */
    /*background-blend-mode: screen, overlay;*/
    min-height: 125.77px;
  }
  /*MIS DATOS*/
  .sample-header-section {
    position: absolute;
    top: 15px;
    padding-bottom: 15%;
    padding-left: 5%;
    display: flex;
    justify-content: left;
    max-width: auto;
    color: #EAFAF1;
    align-items: center;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    z-index: 4;
  }

  .sample-header-section img {
    padding-right: 15px;
  }

  h1 {
    font-weight: 500;
  }
  h2 {
    font-weight: 400;
  }
  .sample-section-wrap {
    width: 100%;
    height: 100%;
  }
  .sample-section {
    position: relative;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
  }
  
  